
body {
    background-color: #f3f4f4;
}

/*
.video-box .play-btn:before, .video-box .play-btn:after {
    content: "";
    position: absolute;
    border: 2px solid #f60;
    border-radius: 50%;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}
.video-box .play-btn::after{animation-delay: 0.5s}
@keyframes animate{
    0%
    {
        transform:scale(.5);
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform:scale(1.5);
    }
}
*/

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    
    border-radius: 35px;
    font-size: 39px;
    line-height: 1.33;
    padding-left: 3px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-orange {
    /* background: #f60; */
    background: #fcbc02;
    color: #fff;
}

.btn-orange:hover {
    color: #fff;
    text-decoration: none;
}

.hero {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
}


.ptext {
    padding-left: 45px;
}

.ptext p {
    font-size: 19px;
    color: grey;
}

.heading {
    border: 1px solid #dee2e6;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: gray;  
    background-color: white;
}

.btn-wrapper {
    padding-left: 60px;
    padding-top: 30px;
}

#audio-time {
    color: gray;
    padding-top: 30px;
    padding-left: 0px; 
    font-weight: bold;
    font-size: 50px;
}